
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <a href="@Url.Action("Create", "User")" class="btn btn-success">
        <i class="fa fa-plus"></i> Create an User
    </a>

    <div class="clearfix"></div>
    <br />

    <div class="card">
        <div class="header">
            <h4 class="title">User</h4>
            <p class="category">List of Users</p>
        </div>

        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (MembershipUser user in Model)
                    {
                        <tr>
                            @user.Email
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
