@{
    ViewBag.Title = "About us";
}

@*<h3>@ViewBag.Message</h3>*@

<div class="fullwidth-module">
    <h2>@ViewBag.Title!</h2>
    <p>Few things about us and what we do!</p>
</div>
<div class="fullwidth-additional-info">
    <div class="box">
        <h2>We love design &amp; coding</h2>
        <p>Quality is our main focus in everything we share. Great design on efficient coding andevery little trick that comes with it. Every day, we seek to find meaningful information, videos, graphics and any other useful ideas.</p>
    </div>
    <div class="box">
        <h2>We have a great team</h2>
        <p>We pick the best stuff based on our years of experience in this field, engaging more and more people every month. Each member of our team focuses on content that inspires and educates. We’re a dedicated team of web professionals.</p>
    </div>
    <div class="box">
        <h2>We build for the community</h2>
        <p>Our products are community driven. That means that we’re always open to welcome new users to grow our community, providing value and reinforce a helpful culture.</p>
    </div>
    <div class="clear"></div>
    <div class="box fullwidth">
        <h2>A few more things about icanbecreative</h2>
        <p>Our project is a fast growing design and coding website based on useful Photoshop and Illustrator tutorials. We also have tricks, graphic design articles and inspiring stuff, and free resources such as PSD files, textures, fonts, brushes, you name it!</p>
        <p>We focus on web developers, designers, graphic artists, software developers, bloggers, SEO experts, internet marketers, photographers and many more, where innovation meets the imagination.</p>
        <p>We're digital people!</p>
        <p>Facebook: <a href="http://facebook.com/icanbecreative" target="_blank">icanbecreative</a></p>
        <p>Twitter: <a href="https://twitter.com/icanbecreative" target="_blank">icanbecreative</a></p>
    </div>
    <div class="clear"></div>
</div>


<div class="clear"></div>