@{
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="fullwidth-module">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.SubTitle</p>
</div>
<div class="fullwidth-additional-info">
    <div class="box fullwidth">
        <h2>Advertise</h2>
        <p>We're proud of our fast growing community. New users make contact with our services and ideas each month. Let's see some numbers:</p>
        <div class="coin-wrapper">
            <div class="left-side">
                <div class="coin-holder">
                    <p>
                        <span class="title">Fastest Growing</span>
                        <span class="text">Since the beginning of 2015 the rate of our monthly new users has <strong>grown by 30%</strong></span>
                    </p>
                </div>
                <div class="coin-holder">
                    <p>
                        <span class="title">Engaged Audiences</span>
                        <span class="text"><strong>250k unique visitors</strong> generate <strong>600k pageviews</strong> each month</span>
                    </p>
                </div>
                <div class="coin-holder">
                    <p>
                        <span class="title">Mobile Traffic</span>
                        <span class="text"><strong>40%</strong> of the traffic comes from mobile devices</span>
                    </p>
                </div>
            </div>
            <div class="right-side">
                <div class="coin-holder">
                    <p>
                        <span class="title">Social Stats</span>
                        <span class="text">More than <strong>100k clicks</strong> are generated monthly on @ViewBag.SiteName <strong>social media content</strong></span>
                    </p>
                </div>
                <div class="coin-holder">
                    <p>
                        <span class="title">Social Followers</span>
                        <span class="text">More than <strong>60K people follow</strong> us on Facebook, Twitter,Google+, Newsletter</span>
                    </p>
                </div>
                <div class="coin-holder">
                    <p>
                        <span class="title">Content Diversity</span>
                        <span class="text"><strong>Over 20 categories</strong> of content covering design and programming </span>
                    </p>
                </div>
            </div>


            <div class="clear"></div>
        </div>
        <h2>Products</h2>
        <p>We encourage our audience to try the products we offer and start advertising on a fast growing website. Here's what we got for you:</p>
        <ul>
            <li><strong>Custom Banners.</strong> We deliver attention-getting, creative designs to showcase your brand’s personality, customizable for your business needs.</li>
            <li><strong>Guest Posts.</strong> We share your story in a professional and effective way. Our content speaks for itself, over 90% of our guest posts are shared socially or commented on.</li>
        </ul>
        
        <br/>

        <h2>Contact</h2>
        <p>
            For price quotes or just to send us a message simply use the contact form or drop us an e-mail at
            <strong>@ViewBag.Email</strong>!
        </p>
    </div>
</div>


<div class="clear"></div>