
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="fullwidth-module">
    <h2>@ViewBag.Title @ViewBag.SiteName</h2>
    <p>@ViewBag.SubTitle</p>
</div>
<div class="fullwidth-additional-info">
    <div class="box fullwidth">
        <center>
            <script id="cid0020000110629066537" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 1020px;height: 476px;">{"handle":"pixicity","arch":"js","styles":{"a":"C8C8C8","b":58,"c":"000000","d":"000000","f":58,"i":58,"k":"C8C8C8","l":"C8C8C8","m":"C8C8C8","o":58,"p":"10.62","q":"C8C8C8","r":58,"cnrs":"0.24","fwtickm":1}}</script>
        </center>
    </div>

    <div class="clear"></div>

    <div class="box">
        <h2>Rules</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur vehicula varius. Proin eu diam vitae ante consequat sodales. In quis ipsum cursus, molestie dui vitae, semper massa. Aliquam sagittis orci porttitor augue vulputate, ut pulvinar elit tempor.</p>
    </div>
    <div class="box">
        <h2>Info</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur vehicula varius. Proin eu diam vitae ante consequat sodales. In quis ipsum cursus, molestie dui vitae, semper massa. Aliquam sagittis orci porttitor augue vulputate, ut pulvinar elit tempor.</p>
    </div>
    <div class="box">
        <h2>Rules</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur vehicula varius. Proin eu diam vitae ante consequat sodales. In quis ipsum cursus, molestie dui vitae, semper massa. Aliquam sagittis orci porttitor augue vulputate, ut pulvinar elit tempor.</p>
    </div>
    <div class="clear"></div>
</div>


<div class="clear"></div>