@{
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="fullwidth-module">
    <h2>Contact us!</h2>
    <p>Feel free to contact us if you have any questions. You can even just drop us a line to say hello :)</p>
</div>

<div class="fullwidth-additional-info">
    <div class="box">
        <h2>Contacts</h2>
        <p>E-mail: @ViewBag.Email</p>
        <p>Facebook: <a href="#" target="_blank">@ViewBag.SiteName</a></p>
        <p>Twitter: <a href="#" target="_blank">@ViewBag.SiteName</a></p>
    </div>
    <div class="box">
        <h2>Talk to us</h2>
        <p>If you want to casual talk with one of the @ViewBag.SiteName writers, we highly recommend to do that via <a href="#" target="_blank">Twitter</a> or <a href="#" target="_blank">Facebook</a>. You can find us there.</p>
    </div>
    <div class="box">
        <h2>Be a partner</h2>
        <p>You have a great ideea or a business plan? Well let's talk about it, we are open to any ideas and suggestions.</p>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>