@{
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="fullwidth-module">
    <h2>Subscribe to the Newsletter!</h2>
    <p>Get our products/news earlier than others, let’s get in touch.</p>
    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-wrapper" target="_blank" novalidate="">
        <input type="email" value="" name="EMAIL" class="input-text">
        <button type="submit" value="" name="subscribe" class="input-button"><span class="icon icon-mail"></span></button>
    </form>
</div>

<div class="fullwidth-additional-info">
    <div class="box">
        <h2>We hate SPAM</h2>
        <p>Sign up for our newsletter to see and receive the latest articles, updates, freebies and premium items. NO SPAM, only <strong>quality information and useful things!</strong></p>
    </div>
    <div class="box">
        <h2>Keep up to date</h2>
        <p>We'll keep you updated with the latest in <strong>design and web development</strong>, and much more. Enjoy our fresh articles and tutorials and find what you need!</p>
    </div>
    <div class="box">
        <h2>The numbers</h2>
        <p>Come and join our community! We have over <strong>60K followers</strong> on Facebook, Twitter and Google Plus and a very consistent number of subscribers to our newsletters. Since the beginning of 2015 our visitor numbers have grown by <strong>30%.</strong></p>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>