@{
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="fullwidth-module">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.SubTitle</p>
</div>
<div class="fullwidth-additional-info">
    <div class="box fullwidth">
        <h2>Join our team!</h2>
        <p>We're always looking for people who want to join us  and be part of a team to create engaging content. If you've got the skills just send us an email and we’ll get in touch!</p>
        <p>We can help with custom tags for every author in the comments section and sharing your ideas within our community!</p>
    </div>
</div>


<div class="clear"></div>